/*#users {
align-items:center;
display:flex;
flex-wrap:wrap;
}
#robotprofile {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}*/
#looking {
  color:red;
}
#personalsection {
  border:2px solid black;
  margin-right:900px;

}
#personalimg {
  border:2px solid lightgrey;
  border-radius:200px;
}
.wrapper {
  border-radius: 3px;
  border: 2px solid #C1C1C1;
  box-shadow: 0 1px 4px #C1C1C1;
  width: 500px;
}
.login {
  align-items:center;
}
.wrapper .header {
  width: 100%;
  height: 100px;
  background-color: #3E8ACC;
  color: #fff;
  font-size: 30px;
  font-family: sans-serif
}

.wrapper .header .title {
  display: inline-block;
  margin-top: 30px;
  padding-left: 20px
}

.wrapper .captcha {
  padding: 25px;
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captcha img {
  margin: 0 auto;
}

.captcha button {
  margin-top: 10px;
}

.choices {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.logout {
  width: 500px;
  margin: 10px auto;
  text-align: center;
}

.secret {
  width: 700px;
  margin: 10px auto;
}

.secret img,
.secret button {
  display: block;
  margin: 0 auto;
}

.secret button {
  margin-top: 10px;
}
